/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* ------------------top start------------------ */
    .being-responsible {
        font-size: 0.3rem;
    }

    /* ------------------top start------------------ */


    /* Header start */
    .logo img {
        width: 60% !important;
    }

    .about-btn {
        padding: 8px 30px !important;
        border-radius: 80px;
        background-color: #fff !important;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 600;
        color: #000000 !important;
        text-decoration: none;
        text-align: center;

    }

    .about-btn {
        margin-left: auto !important;
    }

    /* Header end */


    /* Banner start */
    .banner {
        padding: 100px 0;
    }

    .banner-container {
        /* background-color: #000000; */

    }

    .banner-text {
        width: 90%;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 80px;
        padding-left: 30px;
        background-color: #000000;

    }

    .banner-text h1 {
        font-family: 'Helsinki';
        color: #fff;
        font-size: 1.5rem !important;
    }

    /* Banner end */

    /* ------------------------drinking game start------------------------ */
    .drinking-game {
        padding: 50px 0;
    }

    .drinking-game-text {
        width: 90%;
    }

    .drinking-game-text h2 {
        font-size: 20px;
    }

    .drinking-game-text p {
        font-size: 13px;
    }

    .drinking-game-img-container {
        display: flex;
        align-items: center !important;
    }

    /* ------------------------drinking game end------------------------ */

    /* game card start */
    .game-card-headline {
        margin-bottom: 50px;
    }

    .card {
        width: 80%;
        margin: 0 auto;
    }

    /* game card end */

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* ------------------top start------------------ */
    .being-responsible {
        font-size: 0.5rem;
    }

    /* ------------------top start------------------ */





}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* ------------------top start------------------ */
    .being-responsible {
        font-size: 0.7rem;
    }

    /* ------------------top start------------------ */

    /* Header start */
    .logo img {
        width: 70% !important;
    }

    .about-btn {
        padding: 10px 35px !important;
        border-radius: 80px;
        background-color: #fff !important;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #000000 !important;
        text-decoration: none;
        text-align: center;
    }

    /* Header end */


    /* Banner start */
    .banner {
        padding: 100px 0;
    }

    .banner-container {
        /* background-color: #000000; */

    }

    .banner-text {
        width: 60%;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 150px;
        padding-left: 30px;
        background-color: #000000;
        /* align-items: center; */

    }

    .banner-text h1 {
        font-family: 'Helsinki';
        color: #fff;
        font-size: 2rem !important;
    }

    /* Banner end */


    /* ------------------------drinking game start------------------------ */
    .drinking-game {
        padding: 60px 0;
    }

    .drinking-game-text {
        width: 80%;
    }

    .drinking-game-text h2 {
        font-size: 35px;
    }

    .drinking-game-text p {
        font-size: 16px;
    }

    .drinking-game-img-container {
        display: flex;
        align-items: flex-end !important;
    }

    /* ------------------------drinking game end------------------------ */


    /* ------------------------game card start------------------------ */
    .game-card-headline {
        margin-bottom: 60px;
    }

    .card {
        background-color: #ff9545 !important;
        padding: 25px 18px;
        height: 100%;
    }

    .game-card h2 {
        font-size: 40px;
    }

    .card-title {
        font-size: 22px;
        margin-bottom: 20px;
        ;
    }

    .card-text {
        font-size: 16px;
    }

    /* ------------------------game card end------------------------ */


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* Banner start */
    .banner {
        padding: 100px 0;
    }

    .banner-container {
        /* background-color: #000000; */

    }

    .banner-text {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 200px;
        padding-left: 30px;
        background-color: #000000;

    }

    .banner-text h1 {
        font-family: 'Helsinki';
        color: #fff;
        font-size: 2rem !important;
    }

    .drinking-game-img-container {
        display: flex;
        align-items: flex-end !important;
    }

    /* Banner end */


    /* ------------------------drinking game start------------------------ */
    .drinking-game {
        padding: 80px 0;
    }

    .drinking-game-text {
        width: 70%;
    }

    .drinking-game-text h2 {
        font-size: 40px;
    }

    .drinking-game-text p {
        font-size: 16px;
    }

    .drinking-game-img-container {
        display: flex;
        align-items: flex-end !important;
    }

    /* ------------------------drinking game end------------------------ */


    /* ------------------------game card start------------------------ */
    .game-card-headline{
        margin-bottom: 80px;
    }

    .game-card h2 {
        font-size: 50px;
    }

    .card-title {
        font-size: 25px !important;
        margin-bottom: 20px;
        ;
    }

    .card-text {
        font-size: 20px;
    }

    /* ------------------------game card end------------------------ */


}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

    /* banner start */
    .banner {
        padding: 200px 0;
    }

    .banner-container {
        /* background-color: #000000; */

    }

    .banner-text {
        /* width: 50%; */
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 300px;
        padding-left: 40px;
        background-color: #000000;
        /* align-items: center;*/

    }

    .banner-text h1 {
        font-family: 'Helsinki';
        color: #fff;
    }

    /* banner end */


    /* ------------------------drinking game start------------------------ */
    .drinking-game {
        padding: 100px 0;
    }

    .drinking-game-text {
        width: 60%;
    }

    .drinking-game-text h2 {
        font-size: 45px;
    }

    .drinking-game-text p {
        font-size: 20px;
    }

    .drinking-game-img-container {
        display: flex;
        align-items: flex-end !important;
    }

    /* ------------------------drinking game end------------------------ */


    /* ------------------------game card start------------------------ */
    .game-card-headline{
        margin-bottom: 80px;
    }

    .game-card h2 {
        font-size: 50px;
    }

    .card-title {
        font-size: 30px;
        margin-bottom: 20px;
        ;
    }

    .card-text {
        font-size: 20px;
    }

    /* ------------------------game card end------------------------ */



}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    /* Banner start */
    .banner {
        padding: 100px 0;
    }

    .banner-container {
        background-color: #000000;

    }

    .banner-text {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 250px;
        padding-left: 30px;

    }

    .banner-text h1 {
        font-size: 3rem !important;
    }

    /* Banner end */



    /* ------------------------drinking game start------------------------ */
    .drinking-game {
        padding: 100px 0;
    }

    .drinking-game-text {
        width: 60%;
    }

    .drinking-game-text h2 {
        font-size: 50px;
    }

    .drinking-game-text p {
        font-size: 28px;
    }


    .drinking-game-img-container {
        display: flex;
        align-items: flex-end !important;
    }

    /* ------------------------drinking game end------------------------ */


    /* ------------------------game card start------------------------ */
    .game-card-headline{
        margin-bottom: 100px;
    }
    .card {
        background-color: #ff9545 !important;
        padding: 30px 40px;
        height: 100%;
    }

    .game-card h2 {
        font-size: 72px;
    }

    .card-title {
        font-size: 48px;
        margin-bottom: 40px;
    }

    .card-text {
        font-size: 28px;
    }

    /* ------------------------game card end------------------------ */

}